body{
	background-color: rgb(171,3,161);
}

#mainheader {
	background: url('images/bathtubbanner.jpg') center center no-repeat;
	background-size: contain;
	width: 100%;
	height: 475px;
	border-color: black;
}


#navbar ul {
	text-align: center;
}

#navbar li {
	display: inline;
	margin-right: 20px;
	font-size: 42px;
	color: white;
}