<<<<<<< HEAD
#container {
	width: 100%;
	height: 475px;
	background-image: url('images/bathtubbanner.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: rgb(148,1,154);
}

=======
body{
	background-color: rgb(171,3,161);
}

#mainheader {
	background: url('images/bathtubbanner.jpg') center center no-repeat;
	background-size: contain;
	width: 100%;
	height: 475px;
	border-color: black;
}


>>>>>>> Design-2
#navbar ul {
	text-align: center;
}

#navbar li {
	display: inline;
	margin-right: 20px;
	font-size: 42px;
<<<<<<< HEAD
=======
	color: white;
>>>>>>> Design-2
}